<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Editar Tarefa</h1>
        <form method="POST">
            <input type="text" name="titulo" value="{{ tarefa.titulo }}" required>
            <textarea name="descricao">{{ tarefa.descricao }}</textarea>
            <input type="date" name="data" value="{{ tarefa.data }}"> <!-- Campo para editar a data -->
            <label>
               <!-- <input type="checkbox" name="concluida" {% if tarefa.concluida %}checked{% endif %}> Concluída
            </label>-->
            <button type="submit">Atualizar Tarefa</button>
        </form>
        <a href="{{ url_for('index') }}">Voltar</a>
    </div>
</body>
</html>
