<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista de Tarefas</h1>
        <a href="{{ url_for('adicionar_tarefa') }}"><button>Adicionar Nova Tarefa</button></a>
        <ul class="task-list">
            {% for tarefa in tarefas %}
            <li>
                <div>
                    <strong>{{ tarefa.titulo }}</strong>
                    <p>{{ tarefa.descricao }}</p>
                </div>
                <div class="actions">
                    <form method="POST" action="{{ url_for('concluir_tarefa', id=tarefa.id) }}">
                        <label>
                            <input type="checkbox" name="concluida" onchange="this.form.submit()" {% if tarefa.concluida %}checked{% endif %}> 
                            Tarefa Concluída
                        </label>
                    </form>
                    <a href="{{ url_for('editar_tarefa', id=tarefa.id) }}">Editar</a>
                    <a href="{{ url_for('deletar_tarefa', id=tarefa.id) }}" class="delete">Deletar</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('lista_tarefas_concluidas') }}">Ver Tarefas Concluídas</a>
    </div>
</body>
</html>
